<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prime-IT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7ABEED9D1C32D43600B8C309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ABEEDB41C32D43600B8C309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ABEEDBF1C32D43700B8C309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
